{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <style>
        section {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

        }
        .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            width: 10rem;
        }
        .card-container {
            display: flex;
            width: 40rem;
            justify-content: space-around;
        }
        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Subscriptions</h1>
    <section>
        <div class="card-container">
            {% for subscription in subscriptions %}
                <div class="card">
                    <h2>{{ subscription.title }}</h2>
                    <p>{{ subscription.description }}</p>
                    <p>Price: ${{ subscription.price }}</p>
                    <p>Limits PDF: {{ subscription.limitsPdf }}</p>
                    {# You can use subscription.media for displaying images #}
                    <img src="{{ subscription.media }}" alt="{{ subscription.title }}">
                </div>
            {% endfor %}
        </div>
        <button id="showForm">Change subscription</button>
        <div id="subscriptionForm" style="display: none;">
            {{ form_start(form) }}
            {{ form_row(form.subs) }}
            <button type="submit">Create</button>
            {{ form_end(form) }}
        </div>
    </section>

    <script>
        document.getElementById('showForm').addEventListener('click', function() {
            document.getElementById('subscriptionForm').style.display = 'block';
        });
    </script>
{% endblock %}

