{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-100">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Subscriptions</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for subscription in subscriptions %}
            <div class="bg-white overflow-hidden shadow rounded-lg">
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-900 mb-2">{{ subscription.title }}</h2>
                    <p class="text-gray-600 mb-4">{{ subscription.description }}</p>
                    <p class="text-gray-600 mb-4">Price: ${{ subscription.price }}</p>
                    <p class="text-gray-600 mb-4">Limits PDF: {{ subscription.limitsPdf }}</p>
                    <img src="{{ subscription.media }}" alt="{{ subscription.title }}" class="w-full h-auto">
                </div>
            </div>
            {% endfor %}
        </div>
        <button id="showForm" class="mt-6 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Change subscription</button>
        <div id="subscriptionForm" class="mt-6" style="display: none;">
            {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}
            {{ form_row(form.subs, {'attr': {'class': 'mb-4'}}) }}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    document.getElementById('showForm').addEventListener('click', function() {
        document.getElementById('subscriptionForm').style.display = 'block';
    });
</script>
{% endblock %}
